.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  font-family: "Chalkboard";
  font-weight: bolder;
  text-align: center;
  height: 100px;
  padding: 20px;
  margin-bottom: 30px;
  color: white;
  background: lightseagreen;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tile {
  height: 200px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  background: lightcyan;
  float: left;
  font-size: 13px;
  text-align: left;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 5px 5px darkgrey;
}

.tile-large {
  height: 400px;
  width: 400px;
  margin-left: 400px;
  margin-top: 80px;
  padding: 30px;
  background: lightcyan;
  font-size: 15px;
  text-align: left;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 5px 5px darkgrey;
}

.tile-link {
  color: darkcyan;
  text-decoration: none;
}

.tile-header {
  height: 40px;
  width: 180px;
  margin-left: 10px;

}

.tile-body {
  height: 150px;
  width: 180px;
  margin-left: 10px;
}

.tile:hover .deleteButton {
  visibility: visible;
}

.button, .new-button {
  background: lightseagreen;
  border: 1px solid darkgrey;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 5px;
}

.button:hover, .new-button:hover {
  background: transparent;
  color: lightseagreen;
  box-shadow: 5px 5px darkgrey;
}

.reminders {
  margin: 20px;
  padding: 10px;
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top:10px;
  margin-left: 5px;
  margin-right: 10px;
  width: 180px;
  font-size: 11px;
}

.input:focus {
  border: solid 2px lightgrey;
}

textarea {
  resize: none;
  height: 50px;
  font-size: 16px;
}

.datetime {
  background: inherit;
  border: none;
  margin-left: 10px;
  width: 180px;
  height: 20px;
}

.deleteButton {
  visibility: hidden;
  padding-bottom: 50px;
  padding-left: 50px;
  float: right;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  color: red;
}


